<html>
  <head>
    <meta http-equiv=Content-Type content="text/html; charset=windows-1252">
    <meta name=Generator content="Microsoft Word 15 (filtered)">
    <title>Robert J</title>
    <style>
      <!--
      /* Style Definitions */
      p.MsoNormal,
      li.MsoNormal,
      div.MsoNormal {
        margin: 0in;
        font-size: 10.0pt;
        font-family: "Times New Roman", serif;
        color: windowtext;
      }

      h2 {
        margin: 0in;
        text-indent: 1.5in;
        page-break-after: avoid;
        font-size: 12.0pt;
        font-family: "Times New Roman", serif;
        color: windowtext;
        font-weight: bold;
      }

      h4 {
        mso-style-link: "Heading 4 Char";
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 0in;
        margin-left: .5in;
        text-indent: 1.5in;
        page-break-after: avoid;
        font-size: 11.0pt;
        font-family: "Times New Roman", serif;
        color: windowtext;
        font-weight: bold;
        text-decoration: underline;
      }

      h5 {
        margin: 0in;
        text-indent: .5in;
        page-break-after: avoid;
        font-size: 12.0pt;
        font-family: "Courier New";
        color: windowtext;
        font-weight: bold;
      }

      p.MsoHeading7,
      li.MsoHeading7,
      div.MsoHeading7 {
        margin: 0in;
        text-align: center;
        page-break-after: avoid;
        font-size: 12.0pt;
        font-family: "Verdana", sans-serif;
        color: windowtext;
        font-weight: bold;
        text-decoration: underline;
      }

      p.MsoHeader,
      li.MsoHeader,
      div.MsoHeader {
        margin: 0in;
        font-size: 10.0pt;
        font-family: "Times New Roman", serif;
        color: windowtext;
      }

      p.MsoFooter,
      li.MsoFooter,
      div.MsoFooter {
        margin: 0in;
        font-size: 10.0pt;
        font-family: "Times New Roman", serif;
        color: windowtext;
      }

      p.MsoBodyText,
      li.MsoBodyText,
      div.MsoBodyText {
        mso-style-link: "Body Text Char";
        margin: 0in;
        font-size: 11.0pt;
        font-family: "Courier New";
        color: windowtext;
        layout-grid-mode: line;
      }

      p.MsoBodyTextIndent,
      li.MsoBodyTextIndent,
      div.MsoBodyTextIndent {
        mso-style-link: "Body Text Indent Char";
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 0in;
        margin-left: 2.0in;
        font-size: 11.0pt;
        font-family: "Times New Roman", serif;
        color: windowtext;
      }

      p.MsoBodyTextIndent3,
      li.MsoBodyTextIndent3,
      div.MsoBodyTextIndent3 {
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 0in;
        margin-left: .5in;
        font-size: 10.0pt;
        font-family: "Verdana", sans-serif;
        color: windowtext;
      }

      a:link,
      span.MsoHyperlink {
        color: blue;
        text-decoration: underline;
      }

      p.SectionHeading,
      li.SectionHeading,
      div.SectionHeading {
        mso-style-name: "Section Heading";
        margin-top: 4.0pt;
        margin-right: 0in;
        margin-bottom: 0in;
        margin-left: 0in;
        border: none;
        padding: 0in;
        font-size: 16.0pt;
        font-family: "Book Antiqua", serif;
        font-variant: small-caps;
        color: windowtext;
        font-weight: bold;
      }

      p.JobDescription,
      li.JobDescription,
      div.JobDescription {
        mso-style-name: "Job Description";
        margin-top: 3.0pt;
        margin-right: -2.9pt;
        margin-bottom: 6.0pt;
        margin-left: 0in;
        font-size: 10.0pt;
        font-family: "Book Antiqua", serif;
        color: black;
      }

      p.BulletPoints,
      li.BulletPoints,
      div.BulletPoints {
        mso-style-name: "Bullet Points";
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 3.0pt;
        margin-left: .25in;
        text-indent: -.25in;
        font-size: 10.0pt;
        font-family: "Book Antiqua", serif;
        color: windowtext;
      }

      p.CompanyInfo,
      li.CompanyInfo,
      div.CompanyInfo {
        mso-style-name: "Company Info";
        margin-top: 2.0pt;
        margin-right: -2.9pt;
        margin-bottom: 0in;
        margin-left: -5.05pt;
        font-size: 11.0pt;
        font-family: "Book Antiqua", serif;
        color: windowtext;
      }

      p.Dates,
      li.Dates,
      div.Dates {
        mso-style-name: Dates;
        margin-top: 2.0pt;
        margin-right: -2.9pt;
        margin-bottom: 0in;
        margin-left: 0in;
        text-align: right;
        font-size: 11.0pt;
        font-family: "Book Antiqua", serif;
        color: windowtext;
      }

      p.JobTitle,
      li.JobTitle,
      div.JobTitle {
        mso-style-name: "Job Title";
        margin-top: 1.0pt;
        margin-right: -2.9pt;
        margin-bottom: 2.0pt;
        margin-left: -5.05pt;
        font-size: 10.0pt;
        font-family: "Book Antiqua", serif;
        color: windowtext;
        font-weight: bold;
      }

      span.Heading4Char {
        mso-style-name: "Heading 4 Char";
        mso-style-link: "Heading 4";
        font-weight: bold;
        text-decoration: underline;
      }

      span.BodyTextIndentChar {
        mso-style-name: "Body Text Indent Char";
        mso-style-link: "Body Text Indent";
      }

      span.BodyTextChar {
        mso-style-name: "Body Text Char";
        mso-style-link: "Body Text";
        font-family: "Courier New";
        layout-grid-mode: both;
      }

      /* Page Definitions */
     

      div.WordSection1 {
        page: WordSection1;
      }

      /* List Definitions */
      ol {
        margin-bottom: 0in;
      }

      ul {
        margin-bottom: 0in;
      }
      -->
    </style>
  </head>
  <body lang=EN-US link=blue vlink=purple style='word-wrap:break-word'>
    <div class=WordSection1>
      <p class=MsoHeader align=center style='text-align:center'>
        <b>
          <span style='font-size:11.0pt;font-family:"Verdana",sans-serif'>Robert J. Villier Jr.</span>
        </b>
      </p>
      <p class=MsoHeader align=center style='text-align:center'>
        <b>
          <span style='font-size:11.0pt;font-family:"Verdana",sans-serif'>195 Old State Road 64 NW. New Salisbury, In 47161</span>
        </b>
      </p>
      <p class=MsoHeader align=center style='text-align:center'>
        <b>
          <span style='font-size:11.0pt;font-family:"Verdana",sans-serif'> (502) 767-5514</span>
        </b>
      </p>
      <p class=MsoNormal align=center style='margin-left:1.5in;text-align:center;text-indent:-1.5in'>
        <b>
          <span style='font-size:11.0pt;font-family:"Verdana",sans-serif'>
            <a href="mailto:robvillier@yahoo.com">villierrob@gmail.com</a>
          </span>
        </b>
      </p>
      <div style='border:none;border-bottom:solid black 2.25pt;padding:0in 0in 1.0pt 0in'>
        <p class=SectionHeading>
          <span style='font-size:14.0pt;font-family:"Verdana",sans-serif;font-variant:normal !important;text-transform:uppercase'>Senior Software Engineer</span>
        </p>
      </div>
      <p class=JobDescription>
        <span style='font-family:"Verdana",sans-serif'>Software developer with experience designing, coding, testing and supporting next-generation solutions installed in multiple development environments.  Most experienced with Microsoft Technologies.  </span>
      </p>
      <p class=JobDescription>
        <b>
          <span style='font-family:"Verdana",sans-serif'>Specialized skills include:</span>
        </b>
      </p>
      <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=757 style='width:567.9pt;margin-left:.25in;background:white;border-collapse:collapse'>
        <tr style='height:67.5pt'>
          <td width=312 valign=top style='width:3.25in;padding:0in 5.4pt 0in 5.4pt;height:67.5pt'>
            <p class=BulletPoints>
              <span style='font-size:8.0pt;font-family:Symbol; color:black'>· <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
              </span>
              <span style='font-size:11.0pt;font-family:"Verdana",sans-serif; color:black'>C#,</span>
              <span style='font-size:11.0pt;color:black'> VB .Net</span>
            </p>
            <p class=BulletPoints>
              <span style='font-size:8.0pt;font-family:Symbol;color:black'>· <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
              </span>
              <span style='font-size:11.0pt;color:black'>Visual Studios 6.0 thru 2022 </span>
            </p>
            <p class=BulletPoints>
              <span style='font-size:8.0pt;font-family:Symbol;color:black'>· <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
              </span>
              <span style='font-size:11.0pt;color:black'>Team Foundation Server/git/DevOps</span>
            </p>
            <p class=BulletPoints>
              <span style='font-size:8.0pt;font-family:Symbol;color:black'>· <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
              </span>
              <span style='font-size:11.0pt;color:black'>JavaScript/JQuery/Bootstrap/Angular</span>
            </p>
            <p class=BulletPoints>
              <span style='font-size:8.0pt;font-family:Symbol;color:black'>· <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
              </span>
              <span style='font-size:11.0pt;font-family:"Verdana",sans-serif;color:black'>A</span>
              <span style='font-size:11.0pt;color:black'>zure Datafactory/Pipelines, Websites, function, App Services, App registration</span>
            </p>
            <p class=BulletPoints>
              <span style='font-size:8.0pt;font-family:Symbol;color:black'>· <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
              </span>
              <span style='font-size:11.0pt;font-family:"Verdana",sans-serif;color:black'>.Net Framework, ASP.net, Net Core, ADO.Net &amp; ASP Classic </span>
            </p>
            <p class=BulletPoints>
              <span style='font-size:8.0pt;font-family:Symbol;color:black'>· <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
              </span>
              <span style='font-size:11.0pt;font-family:"Verdana",sans-serif;color:black'>Soup/Rest services</span>
            </p>
            <p class=BulletPoints>
              <span style='font-size:8.0pt;font-family:Symbol;color:black'>· <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
              </span>
              <span style='font-size:11.0pt;font-family:"Verdana",sans-serif;color:black'>T-SQL/Function/Stored Procedures/Views</span>
            </p>
            <p class=BulletPoints>
              <span style='font-size:8.0pt;font-family:Symbol;color:black'>· <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
              </span>
              <span style='font-size:11.0pt;font-family:"Verdana",sans-serif;color:black'>Data integration to and From Salesforce</span>
            </p>
            <p class=BulletPoints>
              <span style='font-size:8.0pt;font-family:Symbol;color:black'>· <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
              </span>
              <span style='font-size:11.0pt;font-family:"Verdana",sans-serif;color:black'>Anypoint Studio</span>
            </p>
          </td>
          <td width=225 valign=top style='width:169.0pt;padding:0in 5.4pt 0in 5.4pt;height:67.5pt'>
            <p class=BulletPoints>
              <span style='font-size:8.0pt;font-family:Symbol;color:black'>· <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
              </span>
              <span style='font-size:11.0pt;font-family:"Verdana",sans-serif;color:black'>SSIS/SSRS</span>
            </p>
            <p class=BulletPoints>
              <span style='font-size:8.0pt;font-family:Symbol;color:black'>· <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
              </span>
              <span style='font-size:11.0pt;font-family:"Verdana",sans-serif;color:black'>Power Automate/Power Aps</span>
            </p>
            <p class=BulletPoints>
              <span style='font-size:8.0pt;font-family:Symbol;color:black'>· <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
              </span>
              <span style='font-size:11.0pt;font-family:"Verdana",sans-serif;color:black'>SQL Server 6.5 thru 2019 </span>
            </p>
            <p class=BulletPoints>
              <span style='font-size:8.0pt;font-family:Symbol;color:black'>· <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
              </span>
              <span style='font-size:11.0pt;font-family:"Verdana",sans-serif;color:black'>HTML/DHTML, XML, XSL, DOM </span>
            </p>
            <p class=BulletPoints>
              <span style='font-size:8.0pt;font-family:Symbol;color:black'>· <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
              </span>
              <span style='font-size:11.0pt;font-family:"Verdana",sans-serif;color:black'>Office 365 Security Integration</span>
            </p>
            <p class=BulletPoints>
              <span style='font-size:8.0pt;font-family:Symbol;color:black'>· <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
              </span>
              <span style='font-size:11.0pt;font-family:"Verdana",sans-serif;color:black'>VB Script</span>
            </p>
            <p class=BulletPoints>
              <span style='font-size:8.0pt;font-family:Symbol;color:black'>· <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
              </span>
              <span style='font-size:11.0pt;font-family:"Verdana",sans-serif;color:black'>Sales Force Admin (Entry level) </span>
            </p>
            <p class=BulletPoints>
              <span style='font-size:8.0pt;font-family:Symbol;color:black'>· <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
              </span>
              <span style='font-size:11.0pt;font-family:"Verdana",sans-serif;color:black'>Database Design/Maintenance</span>
            </p>
            <p class=BulletPoints>
              <span style='font-size:8.0pt;font-family:Symbol;color:black'>· <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
              </span>
              <span style='font-size:11.0pt;font-family:"Verdana",sans-serif;color:black'>Postman</span>
            </p>
          </td>
          <td width=220 valign=top style='width:164.9pt;padding:0in 5.4pt 0in 5.4pt;height:67.5pt'>
            <p class=BulletPoints>
              <span style='font-size:8.0pt;font-family:Symbol;color:black'>· <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
              </span>
              <span style='font-size:11.0pt;font-family:"Verdana",sans-serif;color:black'>MuleSoft </span>
            </p>
            <p class=BulletPoints>
              <span style='font-size:8.0pt;font-family:Symbol;color:black'>· <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
              </span>
              <span style='font-size:11.0pt;font-family:"Verdana",sans-serif;color:black'>CSS </span>
            </p>
            <p class=BulletPoints>
              <span style='font-size:8.0pt;font-family:Symbol;color:black'>· <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
              </span>
              <span style='font-size:11.0pt;font-family:"Verdana",sans-serif;color:black'>Visual Basic 6</span>
            </p>
            <p class=BulletPoints>
              <span style='font-size:8.0pt;font-family:Symbol;color:black'>· <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
              </span>
              <span style='font-size:11.0pt;font-family:"Verdana",sans-serif;color:black'>SharePoint List/Document Library/One Drive  </span>
            </p>
            <p class=BulletPoints>
              <span style='font-size:8.0pt;font-family:Symbol;color:black'>· <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
              </span>
              <span style='font-size:11.0pt;font-family:"Verdana",sans-serif;color:black'>Forms Assembly</span>
            </p>
            <p class=BulletPoints>
              <span style='font-size:8.0pt;font-family:Symbol;color:black'>· <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
              </span>
              <span style='font-size:11.0pt;font-family:"Verdana",sans-serif;color:black'>VB.Net</span>
            </p>
            <p class=BulletPoints>
              <span style='font-size:8.0pt;font-family:Symbol;color:black'>· <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
              </span>
              <span style='font-size:11.0pt;font-family:"Verdana",sans-serif;color:black'>MVC/MVC 5</span>
            </p>
            <p class=BulletPoints>
              <span style='font-size:8.0pt;font-family:Symbol;color:black'>· <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
              </span>
              <span style='font-size:11.0pt;font-family:"Verdana",sans-serif;color:black'>agile methodology</span>
            </p>
            <p class=BulletPoints>
              <span style='font-size:8.0pt;font-family:Symbol;color:black'>· <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
              </span>
              <span style='font-size:11.0pt;font-family:"Verdana",sans-serif;color:black'>MS Forms</span>
            </p>
            <p class=BulletPoints>
              <span style='font-size:8.0pt;font-family:Symbol;color:black'>· <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
              </span>
              <span style='font-size:11.0pt;font-family:"Verdana",sans-serif;color:black'>Data integration to and From Matrix Mydata</span>
            </p>
          </td>
        </tr>
      </table>
      <p class=MsoNormal style='margin-left:1.0in'>
        <span style='font-size:8.0pt;font-family:"Verdana",sans-serif'>&nbsp;</span>
      </p>
      <div style='border:none;border-bottom:solid black 2.25pt;padding:0in 0in 1.0pt 0in'>
        <p class=SectionHeading>
          <span style='font-size:14.0pt;font-family:"Verdana",sans-serif;font-variant:normal !important;text-transform:uppercase'>Experience</span>
        </p>
      </div>
      <p class=BulletPoints style='margin-left:0in;text-indent:0in'>
        <span style='font-size:8.0pt;font-family:"Verdana",sans-serif'>&nbsp;</span>
      </p>
      <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=672 style='width:7.0in;margin-left:.5in;border-collapse:collapse;border:none'>
        <tr>
          <td width=331 valign=top style='width:3.45in;border:none;border-bottom:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt'>
            <p class=CompanyInfo style='margin-left:0in'>
              <b>
                <span style='font-family:"Verdana",sans-serif'>Signature Health Care Louisville, KY</span>
              </b>
            </p>
            <p class=CompanyInfo style='margin-left:0in'>
              <b>
                <span style='font-family:"Verdana",sans-serif'>Sr. Software Engineer</span>
              </b>
            </p>
          </td>
          <td width=341 colspan=2 valign=top style='width:3.55in;border:none;border-bottom:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt'>
            <p class=Dates>
              <b>
                <span style='font-family:"Verdana",sans-serif'>03/2014 – 09/2022</span>
              </b>
            </p>
          </td>
        </tr>
        <tr>
          <td width=655 colspan=2 valign=top style='width:491.4pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
            <p class=MsoNormal>
              <b>
                <span style='font-family:"Verdana",sans-serif'>IHN</span>
              </b>
              <span style='font-family:"Verdana",sans-serif'> – Custom in house EMR/EHR system used to <span style='color:#3B3B3B;background:white'>provide substantial benefits to physicians, clinic practices, and health care organizations. This systems facilitated workflow and improve the quality of patient care and patient safety.&nbsp;</span>
              </span>
            </p>
            <p class=MsoNormal>
              <span style='font-family:"Verdana",sans-serif'>&nbsp;</span>
            </p>
            <p class=MsoNormal>
              <b>
                <span style='font-family:"Verdana",sans-serif'>Legal Holds</span>
              </b>
              <span style='font-family:"Verdana",sans-serif'> – This system was designed to track and legal action being taken against the company.  It would notify end user that they need to retain all documentation related to the case.  The system also sent out updates and verification on the status of the case.</span>
            </p>
            <p class=MsoNormal>
              <span style='font-family:"Verdana",sans-serif'>&nbsp;</span>
            </p>
            <p class=MsoNormal>
              <b>
                <span style='font-family:"Verdana",sans-serif'>Data Migration/integration</span>
              </b>
              <span style='font-family:"Verdana",sans-serif'> – using Data Factory pipelines, MuleSoft, custom API’s and other methodology I was tasked with moving data into and out of many systems.</span>
            </p>
            <p class=MsoNormal>
              <span style='font-family:"Verdana",sans-serif'>&nbsp;</span>
            </p>
            <p class=MsoNormal>
              <b>
                <span style='font-family:"Verdana",sans-serif'>Salesforce</span>
              </b>
              <span style='font-family:"Verdana",sans-serif'> – administrative task along with building object and data entry screens for end users. Data would also be collected from forms built in MS forms and forms Assembly to push data into salesforce.</span>
            </p>
            <p class=MsoNormal>
              <span style='font-family:"Verdana",sans-serif'></span>
            </p>
            <p class=MsoNormal>
              <span style='font-family:"Verdana",sans-serif'>Technologies Used: C#, JavaScript, JQuery, Bootstrap, Angular, Datafactory/Pipelines, Azure function, Azure App Services, Azure App registration, .Net Framework, ASP.net, Net Core, ADO.Net, Soup/Rest services, T-SQL/Function/Stored Procedures/Views, SSIS/SSRS, Power Automate, Power Aps, SQL Server, XML, CSS, Forms Assembly, MVC/MVC 5, MS Forms</span>
            </p>
            <p class=CompanyInfo style='margin-left:0in'>
              <span style='font-family:"Verdana",sans-serif'>&nbsp;</span>
            </p>
          </td>
          <td width=17 valign=top style='width:12.6pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
            <p class=Dates>
              <b>
                <span style='font-family:"Verdana",sans-serif'>&nbsp;</span>
              </b>
            </p>
          </td>
        </tr>
        <tr>
          <td width=331 valign=top style='width:3.45in;border:none;border-bottom:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt'>
            <p class=CompanyInfo style='margin-left:0in'>
              <b>
                <span style='font-family:"Verdana",sans-serif'>iPay Technologies Elizabethtown, KY</span>
              </b>
            </p>
            <p class=JobTitle style='margin-left:0in'>
              <span style='font-family:"Verdana",sans-serif'>Sr. Software Engineer</span>
            </p>
          </td>
          <td width=341 colspan=2 valign=top style='width:3.55in;border:none;border-bottom:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt'>
            <p class=Dates>
              <b>
                <span style='font-family:"Verdana",sans-serif'>07/2011 – 03/2014</span>
              </b>
            </p>
          </td>
        </tr>
        <tr height=0>
          <td width=331 style='border:none'></td>
          <td width=324 style='border:none'></td>
          <td width=17 style='border:none'></td>
        </tr>
      </table>
      <p class=MsoNormal style='margin-left:.5in'>
        <b>
          <span style='font-family:"Verdana",sans-serif'>Consumer Online Bill Pay</span>
        </b>
        <span style='font-family:"Verdana",sans-serif'> - This system was designed to be a turnkey online bill pay solution that supports single or recurring payments and can easily integrates with any Internet banking provider. It was designed as a seamless solution to enable retail customers and their members a way to pay bills from multiple accounts, send expedited payments, and make person-to-person electronic payments quickly and easily. With the e-Bill presentment feature, customers and members can receive bills electronically.</span>
      </p>
      <p class=MsoNormal style='margin-left:.5in'>
        <span style='font-size:8.0pt;font-family:"Verdana",sans-serif'>&nbsp;</span>
      </p>
      <p class=MsoNormal style='margin-left:.5in'>
        <b>
          <span style='font-family:"Verdana",sans-serif'>UPS Connect-ship</span>
        </b>
        <span style='font-family:"Verdana",sans-serif'> - This system was designed to interact with UPS’s Connect-Ship web service to schedule and deliver expedited payment set up by iPay financial institution and members.  My team was task with building a workflow engine and windows service that would read payment information from the primary bill-pay system and send it through the proper workflow path.  The workflows execution was initiated by a windows service that pooled a database queue table based on a schedule set up in the application configuration files. </span>
      </p>
      <p class=MsoNormal style='margin-left:.5in'>
        <span style='font-size:8.0pt;font-family:"Verdana",sans-serif'>&nbsp;</span>
      </p>
      <p class=MsoNormal style='margin-left:.5in'>
        <span style='font-family:"Verdana",sans-serif'>Technologies Used: SQL server 2005 /2008 , Stored Procedures, Triggers , User Defined Function,  ASP.NET, C#, AJAX, XML, Java Script, JQuery, MVC3, CSS3, WCF, WWF 4.0, Visual Studio  2008/2010 and .net Framework 3.5 /4.0. </span>
      </p>
      <p class=BulletPoints style='margin-left:0in;text-indent:0in'>
        <span style='font-family:"Verdana",sans-serif'></span>
      </p>
      <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=672 style='width:7.0in;margin-left:.5in;border-collapse:collapse;border:none'>
        <tr>
          <td width=331 valign=top style='width:3.45in;border:none;border-bottom:solid windowtext 1.0pt;  padding:0in 5.4pt 0in 5.4pt'>
            <p class=CompanyInfo style='margin-left:0in'>
              <b>
                <span style='font-family:  "Verdana",sans-serif'>AEGON Louisville, KY</span>
              </b>
            </p>
            <p class=JobTitle style='margin-left:0in'>
              <span style='font-family:"Verdana",sans-serif'>Sr. Software Engineer / Consultant</span>
            </p>
          </td>
          <td width=341 valign=top style='width:3.55in;border:none;border-bottom:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt'>
            <p class=Dates>
              <b>
                <span style='font-family:"Verdana",sans-serif'>08/2008 – 03/2011</span>
              </b>
            </p>
          </td>
        </tr>
      </table>
      <p class=MsoNormal style='margin-top:0in;margin-right:.9pt;margin-bottom:0in;margin-left:.5in;margin-bottom:.0001pt;text-autospace:none'>
        <b>
          <span style='font-family:"Verdana",sans-serif'>GEMS (</span>
        </b>
        <b>
          <span style='font-family:"Verdana",sans-serif;color:black'>Garnet Equity Modeling System</span>
        </b>
        <b>
          <span style='font-family:"Verdana",sans-serif'>) - </span>
        </b>
        <span style='font-family:"Verdana",sans-serif'>The goal of this project is to create a C# .Net windows application with a SQL server 2005 backend Database that will replace the existing excel model used by the IMD Structured Products group.</span>
        <span style='font-size:11.0pt'>  The application will significantly reduce the time performing reporting duties for the low income housing tax credit block of business and insure that all required tax rules are being followed.</span>
      </p>
      <p class=MsoNormal style='text-indent:.5in'>
        <b>
          <span style='font-size:8.0pt;font-family:"Verdana",sans-serif'>&nbsp;</span>
        </b>
      </p>
      <p class=MsoNormal style='margin-left:.5in'>
        <b>
          <i>
            <span style='font-family:"Verdana",sans-serif'>Configuration Management</span>
          </i>
        </b>
        <span style='font-family:"Verdana",sans-serif'> -This System was developed as a single source that incorporates modules for change control, physical asset inventory, application inventory, support and maintenance, knowledge management and resource usage.  By consolidating these applications and adding the modules for a more comprehensive way to assess the impact of any change on the whole technology environment the system will be able to report across activities that are related and will result in better efficiency, improving the ability to processes data more effectively. </span>
        <span style='font-family:"Verdana",sans-serif'>My other duties involved consulting on how to implement the following technologies Ajax, C#, SSIS and the 2.0 framework.</span>
      </p>
      <p class=MsoNormal style='margin-left:.5in'>
        <span style='font-size:8.0pt;font-family:"Verdana",sans-serif'>&nbsp;</span>
      </p>
      <p class=MsoNormal style='margin-left:.5in'>
        <span style='font-family:"Verdana",sans-serif'>Technologies Used: SQL server 2005 /2008 , Stored Procedures, Triggers , User Defined Function,  ASP.NET, C#, AJAX, XML, Java Script, JQuery,  WCF, Visual Studio 2008/2010 and .net Framework 2.0 /3.5. </span>
      </p>
      <p class=MsoNormal style='margin-left:1.0in'>
        <span style='font-family:"Verdana",sans-serif'>&nbsp;</span>
      </p>
      <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=672 style='width:7.0in;margin-left:.5in;border-collapse:collapse;border:none'>
        <tr>
          <td width=331 valign=top style='width:3.45in;border:none;border-bottom:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt'>
            <p class=CompanyInfo style='margin-left:0in'>
              <b>
                <span style='font-family:  "Verdana",sans-serif'>Humana Louisville, KY</span>
              </b>
            </p>
            <p class=JobTitle style='margin-left:0in'>
              <span style='font-family:"Verdana",sans-serif'>Sr. Software Engineer </span>
            </p>
          </td>
          <td width=341 valign=top style='width:3.55in;border:none;border-bottom:solid windowtext 1.0pt;  padding:0in 5.4pt 0in 5.4pt'>
            <p class=Dates>
              <b>
                <span style='font-family:"Verdana",sans-serif'>12/2006 – 08/2008</span>
              </b>
            </p>
          </td>
        </tr>
      </table>
      <p class=MsoNormal style='margin-left:1.0in'>
        <span style='font-size:8.0pt;font-family:"Verdana",sans-serif;color:#333333'>&nbsp;</span>
      </p>
      <p class=MsoNormal style='margin-left:.5in'>
        <span style='font-family:"Verdana",sans-serif'>Database development was done using Oracle 10g, SQL server 2000/2005 back end with heavy use of Stored Procedures, Triggers, User Defined Function and DTS/SSIS Packages.  Development tools used were: ASP.NET, C#, Soap Services, COM standards, Visual Basic 6.0, XML, XSL, ASP, Java Script, VB Script, DOM and .NET 2005 Studio</span>
      </p>
      <p class=BulletPoints style='margin-left:0in;text-indent:0in'>
        <span style='font-size:8.0pt;font-family:"Verdana",sans-serif'>&nbsp;</span>
      </p>
      <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=672 style='width:7.0in;margin-left:.5in;border-collapse:collapse;border:none'>
        <tr>
          <td width=331 valign=top style='width:3.45in;border:none;border-bottom:solid windowtext 1.0pt;  padding:0in 5.4pt 0in 5.4pt'>
            <p class=CompanyInfo style='margin-left:0in'>
              <b>
                <span style='font-family:  "Verdana",sans-serif'>TEK System Louisville, KY</span>
              </b>
            </p>
            <p class=JobTitle style='margin-left:0in'>
              <span style='font-family:"Verdana",sans-serif'>Sr. Software Engineer / Consultant</span>
            </p>
          </td>
          <td width=341 valign=top style='width:3.55in;border:none;border-bottom:solid windowtext 1.0pt;  padding:0in 5.4pt 0in 5.4pt'>
            <p class=Dates>
              <b>
                <span style='font-family:"Verdana",sans-serif'>09/2003 – 12/2006</span>
              </b>
            </p>
          </td>
        </tr>
      </table>
      <p class=MsoNormal style='margin-left:.5in'>
        <span style='font-family:"Verdana",sans-serif'>Technologies Used:  SQL server 2000/2005 back end with heavy use of Stored </span>
      </p>
      <p class=MsoNormal style='margin-left:.5in'>
        <span style='font-family:"Verdana",sans-serif'>Procedures, Triggers, User Defined Function and DTS Packages.  Development tools used were: ASP.NET, C#, Soap Services, SQL Server 2000, COM standards, Visual Basic 6.0, XML, XSL, ASP, Java Script, VB Script, DOM, Active PDF, .NET Active PDF Wrapper</span>
      </p>
      <p class=MsoNormal>
        <span style='font-size:8.0pt;font-family:"Verdana",sans-serif'>&nbsp;</span>
      </p>
      <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=672 style='width:7.0in;margin-left:.5in;border-collapse:collapse;border:none'>
        <tr>
          <td width=331 valign=top style='width:3.45in;border:none;border-bottom:solid windowtext 1.0pt;  padding:0in 5.4pt 0in 5.4pt'>
            <p class=CompanyInfo style='margin-left:0in'>
              <b>
                <span style='font-family:  "Verdana",sans-serif'>Robert Half Technologies Louisville, KY</span>
              </b>
            </p>
            <p class=JobTitle style='margin-left:0in'>
              <span style='font-family:"Verdana",sans-serif'>Sr. Software Engineer / Consultant</span>
            </p>
          </td>
          <td width=341 valign=top style='width:3.55in;border:none;border-bottom:solid windowtext 1.0pt;  padding:0in 5.4pt 0in 5.4pt'>
            <p class=Dates>
              <b>
                <span style='font-family:"Verdana",sans-serif'>05/2004 – 10/2004</span>
              </b>
            </p>
          </td>
        </tr>
      </table>
      <p class=MsoNormal style='margin-left:.5in'>
        <span style='font-family:"Verdana",sans-serif'>Technologies Used: XML, XSL, ASP, Java Script, VB Script, Visual Studio .Net, ASP.net, VB.net, .Net web service and SQL Server 2000</span>
      </p>
      <p class=MsoNormal>
        <span style='font-family:"Verdana",sans-serif'>&nbsp;</span>
      </p>
      <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=672 style='width:7.0in;margin-left:.5in;border-collapse:collapse;border:none'>
        <tr>
          <td width=331 valign=top style='width:3.45in;border:none;border-bottom:solid windowtext 1.0pt;  padding:0in 5.4pt 0in 5.4pt'>
            <p class=CompanyInfo style='margin-left:0in'>
              <b>
                <span style='font-family:  "Verdana",sans-serif'>Alliance Quest Inc.  Louisville, KY</span>
              </b>
            </p>
            <p class=JobTitle style='margin-left:0in'>
              <span style='font-family:"Verdana",sans-serif'>Sr. Software Engineer / Consultant</span>
            </p>
          </td>
          <td width=341 valign=top style='width:3.55in;border:none;border-bottom:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt'>
            <p class=Dates>
              <b>
                <span style='font-family:"Verdana",sans-serif'>06/2002 – 09/2003</span>
              </b>
            </p>
          </td>
        </tr>
      </table>
       <p class=MsoNormal style='margin-left:.5in'>
        <span style='font-family:"Verdana",sans-serif'>Technologies Used: XML, XSL, ASP, Java Script, VB Script, Visual Studio .Net, ASP.net, VB.net and SQL Server 2000.</span>
      </p>
      <p class=MsoNormal>
        <span style='font-size:8.0pt;font-family:"Verdana",sans-serif'>&nbsp;</span>
      </p>
      <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=672 style='width:7.0in;margin-left:.5in;border-collapse:collapse;border:none'>
        <tr>
          <td width=331 valign=top style='width:3.45in;border:none;border-bottom:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt'>
            <p class=CompanyInfo style='margin-left:0in'>
              <b>
                <span style='font-family:"Verdana",sans-serif'>TEK System Louisville, KY</span>
              </b>
            </p>
            <p class=JobTitle style='margin-left:0in'>
              <span style='font-family:"Verdana",sans-serif'>Sr. Software Engineer / Consultant</span>
            </p>
          </td>
          <td width=341 valign=top style='width:3.55in;border:none;border-bottom:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt'>
            <p class=Dates>
              <b>
                <span style='font-family:"Verdana",sans-serif'>04/1999 – 12/2003</span>
              </b>
            </p>
          </td>
        </tr>
      </table>
      <h4 style='text-indent:.5in'>
        <span style='font-size:10.0pt;font-family:"Verdana",sans-serif'>Humana Project (Claims) - 7/2002 to 02/2003</span>
      </h4>
      <p class=MsoBodyTextIndent3 style='margin-left:1.0in'>Technologies Used: COM standard, Visual Basic 6.0, MQ series, XML, XSL, ASP, Java Script, VB Script and heavy use of the DOM object. </p>
      <p class=MsoNormal style='text-indent:.5in'>
        <span style='font-size:8.0pt;font-family:"Verdana",sans-serif'>&nbsp;</span>
      </p>
      <h4 style='text-indent:.5in'>
        <span style='font-size:10.0pt;font-family:"Verdana",sans-serif'>LG&amp;E Energy Project - 6/2001 to 7/2002</span>
      </h4>
      <p class=MsoBodyTextIndent style='margin-left:1.0in'>
        <span style='font-family:"Verdana",sans-serif'>Technologies Used:</span>
        <span style='font-size:10.0pt;font-family:"Verdana",sans-serif'>
          <span style='layout-grid-mode:line'>Visual Basic, Visual Interdev, XML spy, Actuate 4.0, SQL Server 2000, XML, XSL, DOM, VB Script, Java Script, ASP, MTS, COM+.</span>
        </span>
      </p>
      <h4 style='margin-left:0in;text-indent:.5in'>
        <span style='font-size:8.0pt;font-family:"Verdana",sans-serif'>
          <span style='text-decoration:none'>&nbsp;</span>
        </span>
      </h4>
      <h4 style='text-indent:.5in'>
        <span style='font-size:10.0pt;font-family:"Verdana",sans-serif'>Humana Project - 10/1999 to 6/2001 </span>
      </h4>
      <p class=MsoNormal style='margin-left:1.0in'>
        <span style='font-family:"Verdana",sans-serif'>Technologies Used: <span style='layout-grid-mode:line'> Visual Basic, XML, XSL, VB Script, Java Script, VS C++, Actuate, ASP’s, SQL Server 7.0, MTS, COM Standards and other programming tools.</span>
        </span>
      </p>
      <p class=MsoNormal>&nbsp;</p>
      <p class=MsoNormal>&nbsp;</p>
      <h4 style='text-indent:.5in'>
        <span style='font-size:10.0pt;font-family:"Verdana",sans-serif'>American General Finance Project – 4/1999 to 10/1999 </span>
      </h4>
      <p class=MsoBodyTextIndent3 style='margin-left:1.0in'>Technologies Used: Visual Basic, VB Script, Crystal Reports 6.0, MS Access 7.0, Lotus Notes, Outlook 97, Office 97 Pro and COM standards.  </p>
      <p class=MsoNormal style='margin-left:30.6pt'>
        <span style='font-size:8.0pt;font-family:"Verdana",sans-serif'>&nbsp;</span>
      </p>
      <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=672 style='width:7.0in;margin-left:.5in;border-collapse:collapse;border:none'>
        <tr>
          <td width=331 valign=top style='width:3.45in;border:none;border-bottom:solid windowtext 1.0pt;  padding:0in 5.4pt 0in 5.4pt'>
            <p class=CompanyInfo style='margin-left:0in'>
              <b>
                <span style='font-family:  "Verdana",sans-serif'>Aperture System Louisville, KY</span>
              </b>
            </p>
            <p class=JobTitle style='margin-left:0in'>
              <span style='font-family:"Verdana",sans-serif'>Jr. Software Engineer </span>
            </p>
          </td>
          <td width=341 valign=top style='width:3.55in;border:none;border-bottom:solid windowtext 1.0pt;  padding:0in 5.4pt 0in 5.4pt'>
            <p class=Dates>
              <b>
                <span style='font-family:"Verdana",sans-serif'>05/1998 – 12/1999</span>
              </b>
            </p>
          </td>
        </tr>
      </table>
      <p class=MsoNormal style='margin-left:.5in'>
        <span style='font-family:"Verdana",sans-serif'>Technologies Used: <span style='layout-grid-mode:line'>Visual Basic, Visual Inter Dev., Front Page, VB Script and SQL 6.5.  Other duties included development of in house DLL using COM standards, Active X components, and building SQL scripts </span>
        </span>
      </p>
      <p class=MsoNormal>
        <span style='font-size:8.0pt;font-family:"Verdana",sans-serif'>&nbsp;</span>
      </p>
      <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=672 style='width:7.0in;margin-left:.5in;border-collapse:collapse;border:none'>
        <tr>
          <td width=331 valign=top style='width:3.45in;border:none;border-bottom:solid windowtext 1.0pt;  padding:0in 5.4pt 0in 5.4pt'>
            <p class=CompanyInfo style='margin-left:0in'>
              <b>
                <span style='font-family:  "Verdana",sans-serif'>Prudential Service Bureau Louisville, KY</span>
              </b>
            </p>
            <p class=JobTitle style='margin-left:0in'>
              <span style='font-family:"Verdana",sans-serif'>PC LAN Programmer</span>
            </p>
          </td>
          <td width=341 valign=top style='width:3.55in;border:none;border-bottom:solid windowtext 1.0pt;  padding:0in 5.4pt 0in 5.4pt'>
            <p class=Dates>
              <b>
                <span style='font-family:"Verdana",sans-serif'>06/1997 – 12/1998</span>
              </b>
            </p>
          </td>
        </tr>
      </table>
      <p class=MsoBodyText style='margin-left:.5in'>
        <span style='font-size:10.0pt;font-family:"Verdana",sans-serif'>Technologies Used: Visual Basic.  Also designed multi-user DOS based programs using Clipper, Crystal Reports and advantage client server.  Other duties included design and implementation of database systems in a benefit-processing environment. These applications included billing systems, cost analysis, and enrollment/confirmation statements.</span>
      </p>
      <h2 style='text-indent:.5in'>
        <span style='font-size:10.0pt;font-family:"Verdana",sans-serif'>&nbsp;</span>
      </h2>
      <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=672 style='width:7.0in;margin-left:.5in;border-collapse:collapse;border:none'>
        <tr>
          <td width=331 valign=top style='width:3.45in;border:none;border-bottom:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt'>
            <p class=CompanyInfo style='margin-left:0in'>
              <b>
                <span style='font-family:  "Verdana",sans-serif'>UPS Louisville, KY</span>
              </b>
            </p>
            <p class=JobTitle style='margin-left:0in'>
              <span style='font-family:"Verdana",sans-serif'>PC LAN Programmer</span>
            </p>
          </td>
          <td width=341 valign=top style='width:3.55in;border:none;border-bottom:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt'>
            <p class=Dates>
              <b>
                <span style='font-family:"Verdana",sans-serif'>01/1993 – 12/1997</span>
              </b>
            </p>
          </td>
        </tr>
      </table>
      <p class=MsoNormal style='margin-left:.5in'>
        <span style='font-family:"Verdana",sans-serif'>Technologies Used: Visual Basic and Access. <span style='layout-grid-mode:line'>Also designed multi-user DOS based programs </span>using Clipper and Crystal Reports. </span>
      </p>
      <p class=MsoNormal style='margin-left:1.0in'>
        <b>
          <u>
            <span style='font-size:8.0pt;font-family:"Verdana",sans-serif'>
              <span style='text-decoration:none'>&nbsp;</span>
            </span>
          </u>
        </b>
      </p>
      <div style='border:none;border-bottom:solid black 2.25pt;padding:0in 0in 1.0pt 0in'>
        <p class=SectionHeading>
          <span style='font-family:"Verdana",sans-serif;font-variant:normal !important;text-transform:uppercase'>Education &amp; Training</span>
        </p>
      </div>
      <p class=MsoNormal style='text-indent:.5in'>
        <span style='font-family:"Verdana",sans-serif'>&nbsp;</span>
      </p>
      <h5>
        <span style='font-size:10.0pt;font-family:"Verdana",sans-serif'>Indiana</span>
        <span style='font-size:10.0pt;font-family:"Verdana",sans-serif'> University</span>
        <span style='font-size:10.0pt;font-family:"Verdana",sans-serif'> Southeast</span>
      </h5>
      <p class=MsoNormal style='text-indent:.5in'>
        <span style='font-family:"Verdana",sans-serif'>Grant Line Road</span>
        <span style='font-family:"Verdana",sans-serif'> New Albany, IN 47150</span>
      </p>
      <p class=MsoNormal style='text-indent:.5in'>
        <span style='font-family:"Verdana",sans-serif'>Degree: Computer Science Information Systems</span>
      </p>
      <div style='border:none;border-bottom:solid black 2.25pt;padding:0in 0in 1.0pt 0in'>
        <p class=SectionHeading>
          <span style='font-family:"Verdana",sans-serif;font-variant:normal !important;text-transform:uppercase'>References</span>
        </p>
      </div>
      <p class=MsoHeading7 align=left style='text-align:left;text-indent:.5in'>
        <span style='text-decoration:none'>&nbsp;</span>
      </p>
      <p class=MsoHeading7 align=left style='text-align:left;text-indent:.5in'>
        <span style='text-decoration:none'>Upon Request</span>
      </p>
      <p class=MsoNormal>
        <span style='font-family:"Verdana",sans-serif'>&nbsp;</span>
      </p>
    </div>
  </body>
</html>